.wishlist {
    float: right;
    margin-left: 5px;
}

.add_wishlist {

}

.add_wishlist i {
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.add_wishlist span {
    display: none;
}

.add_wishlist:hover i, .add_wishlist.active i, .add_wishlist:focus i {
    background: #5b9cf6;
    border-color: #5b9cf6;
    color: #fff;
}

.ajax-dropdown .modwishlistsprod {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.ajax-dropdown .modwishlistsprod:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ajax-dropdown .modwishlistsprod .compare-product-img,
.ajax-dropdown .modwishlistsprod .wishlist-product-img,
.ajax-dropdown .modwishlistsprod .cart-product-img {
    float: left;
    width: 30%;
}

.ajax-dropdown .btn-wishlist {
    display: block;
    margin: 0 8px;
    position: relative;
}

.ajax-dropdown .btn-wishlist i {
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.ajax-dropdown .btn-wishlist span {
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}

#fancybox-content .wishlist-product-img {
    float: left;
    margin-right: 15px;
}

#fancybox-content .notification,
#fancybox-content .successfully {
    display: block;
    margin: 13px 0;
}

#fancybox-content .remwishlists {
    margin-top: 10px;
    text-transform: capitalize;
}

.tooltip-1 i {
    margin-right: 6px;
}

#fancybox-content #wishlists_go {
    padding: 10px 15px;
    border-bottom: 1px solid #bdc3c7;
    margin-right: 10px;
}

#fancybox-content #wishlists_continue {
    padding: 10px 15px;
    border-bottom: 1px solid #bdc3c7;
}















